// Colors:
$light-red: #f38181;
$light-yellow: #fce38a;
$light-green: #eaffd0;
$light-blue: #95e1d3;
// font colors
$dark-text: #333333;
$light-text: #999999;
//fonts
$kaushan-font: 'Kaushan Script',
cursive;
$montserrant-font: 'Montserrat',
sans-serif;
$roboto-font: 'Roboto',
sans-serif;